@import "./hero-portrait.styl"

.small-seasonal-leaf {
  position relative
  display inline-block
  left 68px
  top -21px
  width 15px
  height 21px
  background url(../img/seasonal-leaf.png) -24px -2px no-repeat
}