.hero-portrait
  display block
  position relative
  width 83px
  height 1px
  padding-top 65px
  overflow hidden
  background url(../img/character-icon-faces-sprite.jpg) no-repeat

.barbarian-male
  background-position 0 0

.barbarian-female
  background-position -83px 0

.crusader-male
  background-position 0 -330px

.crusader-female
  background-position -83px -330px

.demon-hunter-male
  background-position 0 -66px

.demon-hunter-female
  background-position -83px -66px

.monk-male
  background-position 0 -132px

.monk-female
  background-position -83px -132px

.necromancer-male
  background-position 0 -395px

.necromancer-female
  background-position -83px -395px

.witch-doctor-male
  background-position 0 -198px

.witch-doctor-female
  background-position -83px -198px

.wizard-male
  background-position 0 -264px

.wizard-female
  background-position -83px -264px